

.assetinfo-name{
    /* border: 1px solid red; */
    padding: 20px;
    font-size: 24px;
    /* text-align: center; */
}


.asset-description{
    font-size: 20px;
    padding: 10px 20px;
    /* text-align: center; */
}

.asset-info-container{
    /* border: 1px solid red; */
    display: flex;
    /* flex-direction: column;
    padding-left: 30%; */
}

.asset-ul{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    width: 60%;
    
}

.specifications{
    /* border: 1px solid yellowgreen; */
    width: 40%
}

.specification-title{
   /* padding: 20px; */
   font-size: 20px;
   font-weight: 600;
   padding-left: 20px;
}

.abc{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.specifications-ul{
    border: 1px solid rgb(93, 92, 92);
    list-style: none;
    display: flex;
    flex-direction: column ;
    gap: 24px;
    font-size: 20px;
    padding:30px;
    width: 250px;
    border-radius: 10px;
    margin-top: 20px;
}

.specifications-ul li{
    display: flex;
}

.spec-title{
/* border: 1px solid red; */
width:80px;
display: flex ;
justify-content: space-between;
}

.spec-value{
    padding-left: 20px;
}
.asset-ul li{
    /* border: 1px solid yellowgreen; */
    display: flex;
    justify-content: space-between;
}

.asset-title{
    font-size: 20px;
    /* color: #2a47e9; */
    /* border: 1px solid blue; */
    width: 40%;
    display: flex;
    justify-content: space-between;
    }


.asset-value{
    font-size: 20px;
    /* border: 1px solid red; */
    width: 60%;
   margin-left: 20px;
    
}



@media (max-width:576px){
    
    .asset-ul{
        padding: 10px;
        width: 100%;
    }

    .asset-ul li{
        width: 100%;
        
    }
    .asset-info-container{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        
    }
    .assetinfo-name{
        font-size: 20px;
        text-align: center;
    }

    .asset-description{
        font-size: 18px;
        text-align: center;
    }
    .asset-title{
        font-size: 16px;
    }

    .asset-title{
        width: 60%;
    }

    .asset-value{
        font-size: 16px;
       width: 40%;
    }

   

    .specifications{
        margin: auto;
        width: 300px;
        margin-bottom: 20px;
    }

}